
#question
{
    margin: 37%;
    margin-top: 5%;
}

.card
{
    margin: auto;
    background-color: rgb(73, 177, 177);
}

#questioni
{
    margin: 38%;
    margin-top: 3%;
}

#comp
{
    background-color: aquamarine;
}

#p1
{
    background-color: rgb(113, 247, 247);
}

#p2
{
    background-color: rgb(113, 247, 247);
}

#p3
{
    background-color: rgb(113, 247, 247);
}

#r1
{
    background-color: rgb(113, 247, 247);
}

#r2
{
    background-color: rgb(113, 247, 247);
}

#r3
{
    background-color: rgb(113, 247, 247);
}

#t1
{
    background-color: rgb(113, 247, 247);
}

#t2
{
    background-color: rgb(113, 247, 247);
}

#t3
{
    background-color: rgb(113, 247, 247); 
}

body
{
    background-color: rgb(20, 105, 105);
}

.btn
{
    background-color: teal;
    border: 1px solid teal;
}

#ab
{
    background-color: aquamarine;
    margin: auto;
    width: 100%;
    max-width: 18rem;
    border: none;
}

input[type=button]
{
    /* display: inline-block; */
    max-width: 100%;
    margin: auto;
    width: 90px;
    height: 40px;
}

.button-container 
{
    display: flex;
}

.result-container
{
    /* display: flex; */
    max-width: 100%;
    margin: auto;
}

#si
{
    background-color: rgb(113, 247, 247);
    max-width: 100%;
}